 /* Définition des polices */

 @font-face {
 font-family: "Alegreya";
 font-style: normal;
 font-weight: normal;
 src:url("../Fonts/Alegreya-Regular.ttf");
 }
 @font-face {
 font-family: "Alegreya";
 font-style: normal;
 font-weight: bold;
 src:url("../Fonts/Alegreya-Bold.ttf");
 }
 @font-face {
 font-family: "Alegreya";
 font-style: italic;
 font-weight: normal;
 src:url("../Fonts/Alegreya-Italic.ttf");
 }

 @font-face {
 font-family: "Alegreya";
 font-style: italic;
 font-weight: bold;
 src:url("../Fonts/Alegreya-BoldItalic.ttf");
 }

/* Corps de texte */

body {
font-family: "Alegreya";
text-align: left;
}


h1 {
text-align:center;
}

h2 {
text-align:center;
}

p {
text-align: left;
}

img {
max-width: 100%;
}

/* Page de titre */

.qita_titre {
font-size: 2.8em;
font-weight: bold;
text-align:center;
}

.qita_auteur_title {
font-size: 1.4em;
text-align:center;
padding:0;
margin:0;
}

.qita_soustitre {
text-align:center;
}

.unnumbered {
text-align:center;
}

/* Page de licence */

.qita_scission {
margin:1em;
}

.qita_licence {
text-align: center;
}

.qita_info_licence1 {
text-align:justify;
}

.qita_info_licence2 {
text-align:center;
}

/* Légende générée automatiquement en double gênante pour navigation */

p.caption {
display: none;
}

/* Gestion des appels de note et des notes */

.footnoteRef {
font-size: 1em;
text-decoration: none;
}

.footnotes {
margin-top: 5em;
margin-left: 1em;
}

.footnotes a{
text-decoration: none;
}

/* balise i droit pour les langues */

i.droit {
    font-style: normal;
}

/* Ajustements visuels pour la liste des personnages */

#liste-des-personnages p{
margin-bottom: 1.5em;
}

/* Ajustements visuels pour abbr */
abbr {
text-decoration: none;
}

/* pour supprimer les numéros inadéquats*/
.epub-toc ol {
  list-style-type: none;
}
